## Klipper common printer configuration
## ----------------------------------------
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 30

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[display_status]

[idle_timeout]

[mcu]
restart_method: command
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_430036000C504B4633373520-if00

[mcu can0]
canbus_uuid: 8b807351c67e

## ADXL345
[adxl345]
cs_pin: can0:PB12
spi_software_sclk_pin: can0:PB10
spi_software_mosi_pin: can0:PB11
spi_software_miso_pin: can0:PB2
axes_map: x,y,z

[mcu display]
serial:/dev/serial/by-id/usb-Klipper_stm32f042x6_260035001343565730313120-if00
restart_method: command

[display]
lcd_type: sh1106
i2c_mcu: display
i2c_bus: i2c1a
# Set the direction of the encoder wheel
#   Standard: Right (clockwise) scrolls down or increases values. Left (counter-clockwise scrolls up or decreases values.
encoder_pins: ^display:PA3, ^display:PA4
#   Reversed: Right (clockwise) scrolls up or decreases values. Left (counter-clockwise scrolls down or increases values.
#encoder_pins: ^display:PA4, ^display:PA3
click_pin: ^!display:PA1
kill_pin: ^!display:PA5
#x_offset: 2
#   Use X offset to shift the display towards the right. Value can be 0 to 3
#vcomh: 0
#   Set the Vcomh value on SSD1306/SH1106 displays. This value is
#   associated with a "smearing" effect on some OLED displays. The
#   value may range from 0 to 63. Default is 0.
#   Adjust this value if you get some vertical stripes on your display. (31 seems to be a good value)

[neopixel displayStatus]
pin: display:PA0
chain_count: 1
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.05
initial_BLUE: 0

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PD6,  EXP1_3=PB9,  EXP1_5=PA15, EXP1_7=PA9,   EXP1_9=<GND>,
    EXP1_2=PB8,  EXP1_4=PC3,  EXP1_6=PA10, EXP1_8=PB5,   EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PC11, EXP2_5=PC12, EXP2_7=PC13,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PA8,  EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>
